// ———————————————————————————————————————————————— // 
// ———————————————————— COLORS ———————————————————— // 
// ———————————————————————————————————————————————— //
$main_light: #FCFBFA;
$main_dark: #00483A;
$brand: #82BE3C;
$accent: #6B2FBC;


// ————————————————————————————————————————————————————————— // 
// ———————————————————— FRONTEND SPACES ———————————————————— // 
// ————————————————————————————————————————————————————————— // 
$space_12_5: 12.5px;
$space_25: 25px;
$space_50: 50px;
$space_100: 100px;
$space_150: 150px;